{%extends file='Install/layout/Base.html'%}

{%block name="navleft"%}
<li>
    <a href="javascript:;">安装协议</a>
</li>
<li >
    <a href="javascript:;">环境检测</a>
</li>
<li>
    <a href="javascript:;">创建数据库</a>
</li>
<li  class="active">
    <a href="javascript:;">安装</a>
</li>
<li>
    <a href="javascript:;">完成</a>
</li>
{%/block%}

{%block name="content"%}
<div class="page-header">
    <h1>
        {%#installDbTitle#%}
    </h1>
</div>
<caption><h3 class='col-sm-offset-1'>开始安装数据</h3></caption>
{%/block%}

{%block name="footerleft"%}
<button class="btn btn-primary btn-lg disabled">正在安装，请稍后...</button>
{%/block%}
